#services {
    background-color: #eeeeee;
}

header {
    background-image: url('../img/cinema.jpg');
}

header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*text-transform: uppercase;*/
    font-weight: 200;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
    margin-left: 80px;
}

header .intro-text .intro-lead-in {
    color: #88ABC8;
    margin-top: -40px;
}

.btn-xl {
    margin-top: 30px;
}

h2 {
    color: #88ABC8;
}

.navbar-custom .navbar-brand {
    color: #88ABC8;
    font-size: 66px;
}

section#contact {
    background-color: #88ABC8;
    background-position: center;
    background-repeat: no-repeat;
}

#searches {
    margin-top: 20px;
}

#aboutUs {
    font-size: 20px;
}

#about {
    padding-bottom: 50px;
}

#aboutUs {
    color: gray;
    font-size: 20px;
    line-height: 30px;
}

#bees {
    color: gray;
    font-size: 20px;
}

#youtalk {
    color: #fed136;
    font-size: 24px;
}


/* Snackbar */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
